* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /*1rem*/
    font-family: 'Quicksand', sans-serif;
}

/* HEADER CSS  */
/* header {
    background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./../image/banner1.jpg);
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 20px;
} */

header {
    background: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./../images/banner1.jpg) top / cover fixed;
    height: 100vh;
    padding-top: 20px;
}

.navbar-brand {
    font-size: 45px !important;
    font-weight: 900 !important;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.header__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-control {
    padding: 20px 50px 20px 20px;
}

.header__right #search__bar.dark {
    background-color: #232220;
}

.header__right #search__bar {
    background-color: white;
}

.fa-search {
    position: absolute;
    right: 45px;
    bottom: 10px;
    font-size: 20px;
    color: #5b606c;
    transition: all 0.5s;
    z-index: 999;
}

.fa-search:hover,
.fa-bars:hover,
.fa-moon:hover {
    color: #ff6600;
}


/* #navbar__icon .fa-bars {
    color: #fff;
    font-size: 20px;
    transition: all 0.5s;
} */

#navbar__icon .fa-moon {
    transition: all 0.5s;
    color: white;
    font-size: 1.5rem;
}

#navbar__icon .fa-sun {
    transition: all 0.5s;
    color: white;
    font-size: 1.5rem;
}

.header__right .fa-bars {
    font-size: 2rem;
    color: #fff;
    font-size: 2rem;
}

.collapse .navbar__menu {
    position: absolute;
    top: 0%;
    text-align: center;
    background: rgb(6 3 0 / 77%);
    height: 100vh;
    width: 100%;
}

.navbar-toggler {
    margin-left: 20px;
}

.btn__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.btn__close i {
    font-size: 20px;
    color: #fbfbfb;
    background-color: #ff6600;
    padding: 10px 15px;
    margin: 30px;
    border-radius: 10px;
}

.navbar-nav {
    padding-top: 100px;
}

.navbar-nav a {
    font-weight: 900;
    padding: 10px 0;
    transition: all 0.5s;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: #ff6600;
}

.navbar__content {
    margin-top: 100px;
    margin-right: 30rem;
}

.navbar__content h1 {
    font-weight: 600;
    font-size: 45px;
    color: #fff;
}

.navbar__content p {
    color: #faf0d8;
    margin: 20px 0 40px 0;
    line-height: 26px;
}

.navbar__content button {
    padding: 20px 50px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.navbar__content button:hover {
    background-color: white;
    color: #ff6600;
}

/* @media screen and (max-width:991px) {
    .navbar__content {
        margin-top: 2rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width:767px) {
    .navbar__content {
        margin-top: 1rem;
        margin-right: 2rem;
    }
} */

/* END HEADER CSS */

/* CAROUSEL */
/* #carousel {
    background: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(./../images/banner1.jpg) top / cover no-repeat fixed;
    height: 75vh;

    display: flex;
    align-items: center;
}

.carousel__content {
    color: white;
    padding-top: 4rem;
}

.carousel__content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.carousel__content p {
    margin-bottom: 3rem;
}

.carousel__content button {
    color: white;
    font-weight: 900;
    border: solid 2.5px white;
    padding: 0.7rem 2.5rem;
    background: transparent;
    border-radius: 5px;
    transition: all 0.5s;
}

.carousel__content button:hover {
    color: #ff6600;
    background-color: white;
} */

/* ABOUT */
#about {
    padding: 6rem 0;
    background-color: white;
}

#about.dark {
    background-color: #232220;
}

.about__left h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: black;
}

#about.dark .about__left h1 {
    color: white;
}

.about__left h5 {
    font-family: 'Pacifico', cursive;
    color: #ff6600;
    font-size: 1.3rem;
}

.about__right p {
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.644);
}

#about.dark .about__right p {
    color: white;
}

/* BOOKING */

.booking__left {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../images/banner3.jpg) center / cover no-repeat;
    /* height: 600px; */
    min-height: 100%;
}

/* .booking__left {
    position: relative;
    height: 600px;
} */

/* .booking__left img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 100%;
}

.booking__left::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
} */

.booking__right {
    padding: 5rem 8rem 5rem 4rem;
    background-color: #ff6600;
    height: 100%;
}

.booking__right .right__title {
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

.booking__right p:nth-of-type(2) {
    margin-bottom: 3rem;
    color: rgba(255, 255, 255, 0.767);
}

.booking__best i {
    color: #ff6600;
    padding: 1.3rem;
    background-color: white;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
}

.booking__best a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
}

.booking__best p {
    color: rgba(255, 255, 255, 0.767);
    margin-top: 1rem;
}


.booking__best .col:hover i {
    color: #ffc600;
}

/* @media screen and (max-width: 991px) {
    .booking__left {
        min-height: 525.58px;
    }
} */

/* CATERGORIES */
#categories {
    padding: 6rem 0 5rem 0;
    background-color: #f7f7f7;
}

#categories.dark {
    background-color: #282828;
}

#categories.dark .categories__text h1 {
    color: white;
}

.categories__text p {
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    color: #ff6600;
}

.categories__text h1 {
    font-weight: 600;
    color: black;
}

.categories__content a {
    text-decoration: none;
    color: white;
}

.categories__item {
    /* background: linear-gradient(360deg, rgba(0, 0, 0, 0.651) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g1.jpg) center/cover no-repeat;  */
    height: 450px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.categories__bg {
    /* background: linear-gradient(360deg, rgba(0, 0, 0, 0.747) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g1.jpg) center/cover no-repeat; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: -1; */
}

.categories__item.item1 .categories__bg {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.747) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g1.jpg) center/cover no-repeat;
}

.categories__item.item2 .categories__bg {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.747) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g2.jpg) center/cover no-repeat;
}

.categories__item.item3 .categories__bg {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.747) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g3.jpg) center/cover no-repeat;
}

.categories__item.item4 .categories__bg {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.747) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g4.jpg) center/cover no-repeat;
}

.categories__item.item5 .categories__bg {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.747) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g5.jpg) center/cover no-repeat;
}

.categories__item.item6 .categories__bg {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.747) 0%, rgba(255, 255, 255, 0) 30%), url(./../images/g6.jpg) center/cover no-repeat;
}

.categories__bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.116);
    opacity: 0;
    transition: all 0.5s
}

.categories__item:hover .categories__bg::before {
    opacity: 1;
}

.categories__inner {
    padding: 0 0 1rem 3rem;
    position: relative;
}

.categories__inner .categories__name {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.categories__item .categories__price {
    font-weight: 700;
    color: #ffc600;
    margin-bottom: 0.6rem;
}

/* @media screen and (max-width: 991px) {
    .categories__item {
        height: 400px;
    }

    .categories__inner {
        padding: 0 0 1rem 1rem;
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .categories__item {
        height: 350px;
    }

    .categories__inner {
        padding: 0 0 1rem 1rem;
        position: relative;
    }
}

@media screen and (max-width: 575px) {
    .categories__item {
        height: 300px;
    }

    .categories__inner {
        padding: 0 0 0 1rem;
        position: relative;
    }
} */


/* MENU */
#menu {
    padding: 5rem 0;
    background-color: #fdfdfd
}

#menu.dark {
    background-color: #232220;
}

.menuItem {
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    border: solid 1px rgba(0, 0, 0, 0.103);
}

#menu.dark .menuItem {
    border: solid 1px rgba(255, 255, 255, 0.137);
}

.menu__upper {
    margin-bottom: 1rem;
}

.menu__upper i {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    color: #ff6600;
    margin-right: 1.5rem;
    transition: all 0.5s;
    background-color: #f9f8ff;
}

#menu.dark .menu__upper i {
    background-color: #282828;
}

.upper__desc p {
    margin-bottom: 0.4rem;
    color: black;
}

#menu.dark .upper__desc p {
    color: white;
}

.upper__desc a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}

#menu.dark .upper__desc a {
    color: white;
}

.menu__lower p {
    color: rgba(0, 0, 0, 0.644);
}

#menu.dark .menu__lower p {
    color: white;
}

.menuItem:hover .menu__upper i {
    color: white;
    background-color: #ff6600 !important;
}

.upper__desc a:hover {
    color: #ff6600;
}

/* JUMPING CSS */
#jumping {

}

#jumping.dark {

}

.jumping__content {
    background-image: url(./../image/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    height: 450px;
    z-index: 1;
    position: relative;
}

.jumping__content::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(16 15 19 / 66%);
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
}

.jumping__title {
    text-align: center;
}

.jumping__title h2 {
    color: white;
    font-size: 50px;
}

.jumping__title button {
    padding: 15px 50px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 30px 20px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.5s;
}

.jumping__read {
    background-color: transparent;
}

.jumping__read:hover {
    background-color: white;
    color: #ff6600;
}

.jumping__contact {
    background-color: #ff6600;
    border: 2px solid #ff6600 !important;
}

.jumping__contact:hover {
    opacity: 0.8;
}

.jumping__list .card .card-body {
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    /* background-color: white; */
    padding: 3rem 0 2rem 0;
    margin: 40px 15px;
    border-radius: 10px;
    transform: translateY(0px);
    transition: all 0.5s;
    background-color: white;
}

#jumping.dark .jumping__list .card .card-body {
    background-color: #232220;
}

.jumping__list .card .card-body:hover {
    transform: translateY(-20px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

#jumping.dark .jumping__list .card .card-body:hover {
    transform: translateY(-20px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

#jumping__item1.jumping__item__light:hover,
#jumping__item2.jumping__item__light:hover,
#jumping__item3.jumping__item__light:hover,
#jumping__item4.jumping__item__light:hover {
    transform: translateY(-20px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

#jumping__item1.jumping__item__dark:hover,
#jumping__item2.jumping__item__dark:hover,
#jumping__item3.jumping__item__dark:hover,
#jumping__item4.jumping__item__dark:hover {
    transform: translateY(-20px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

/* 
#jumping__item1:hover, #jumping__item2:hover, #jumping__item3:hover, #jumping__item4:hover {
    transform: translateY(-20px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
} */

/* .jumping__item__light {
    background-color: white;
}

.jumping__item__dark {
    background-color: #232220;
} */

#jumping .card {
    background-color: transparent;
    border: none;
    padding: 0;
}

.jumping__list .card .card-body i {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}


#card__title__number1,
#card__title__number2,
#card__title__number3,
#card__title__number4 {
    font-size: 2.6rem;
    font-weight: 700;
    /* color: #232121; */
    margin: 15px 0 5px 0;
}

.card__title__number__light {
    color: #232121;
}

.card__title__number__dark {
    color: white;
}

#card__title__text1,
#card__title__text2,
#card__title__text3,
#card__title__text4 {
    /* color: rgba(22,28,45,0.7); */
    font-weight: 700;
    font-size: 1.2rem;
}

.card__title__text__light {
    color: rgba(22, 28, 45, 0.7);
}

.card__title__text__dark {
    color: white;
}


/* END JUMPING CSS */

/* VIDEO CSS */
.video__light {
    background-color: #fff;
}

.video__dark {
    background-color: #232220;
}

.video__content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../image/banner3.jpg) center / cover no-repeat;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 500px;
    border-radius: 10px;
    position: relative;
}

#video .modal-content {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video .modal-content iframe {
    border-radius: 10px;
}

.video__icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.video__icon i {
    font-size: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: #ff6600;
    transition: all 0.3s ease-in-out;
    animation: videoicon 1s linear infinite;
    border: transparent;
}

.video__icon i:hover {
    font-size: 35px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: #ff6600;
    color: white;
}

@keyframes videoicon {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}
/* 
@media screen and (max-width: 1199px) {
    #video {
        padding: 300px 0 100px 0;
    }
}

@media screen and (min-width: 1200px) {
    #video {
        padding: 300px 0 100px 0;
    }
}

@media screen and (max-width: 991px) {
    #video {
        padding: 300px 0 100px 0;
    }
}

@media screen and (max-width: 767px) {
    #video {
        padding: 700px 0 100px 0;
    }
}

@media screen and (max-width: 575px) {
    #video {
        padding: 700px 0 100px 0;
    }
} */


/* END VIDEO CSS  */

/* BLOG CSS */
#blog {
    padding: 100px 0;
}

.blog__light {
    background-color: #f7f7f7;
}

.blog__dark {
    background-color: #282828;
}

.blog__title h6 {
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
}

#blog__title__header {
    font-weight: 600;
}

.blog__title__header__light {
    color: black;
}

.blog__title__header__dark {
    color: white;
}

.blog__title {
    text-align: center;
    margin-bottom: 30px;
}

#blog .card {
    background-color: transparent;
    border: none;
}

.blog__text>h5>a {
    font-weight: 600;
    text-decoration: none;
    /* color: black; */
    font-size: 1.5rem;
}

.blog__text__header__light {
    color: black !important;
}

.blog__text__header__dark {
    color: white !important;
}

.blog__text__desc__light {
    color: black;
}

.blog__text__desc__dark {
    color: rgba(255, 255, 255, 0.6);
}

.blog__commentor__light {
    color: black !important;
}

.blog__commentor__dark {
    color: white !important;
}

.blog__read__light {
    color: black !important;
}

.blog__read__dark {
    color: white !important;
}

.blog__user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog__icon {
    align-items: center;
    justify-content: space-between;
}

.blog__icon a {
    color: black;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
}

.blog__user {
    align-items: center;
}

.blog__icon a:hover {
    color: #ff6600 !important;
}

.blog .card {
    position: relative;
}

.blog__time {
    position: absolute;
    left: 15px;
    top: 160px;
}

.blog__time a {
    padding: 1px 15px;
    background-color: #ff6600;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.blog__time i {
    margin: 0 5px;
}

.blog__time span {
    color: white;
}

/* END BLOG CSS  */

/* TESTIMONIALS CSS */
#testimonials {
    padding: 100px 0;
}

.testimonials__light {
    background-color: white;
}

.testimonials__dark {
    background-color: #232220;
}

.testimonials__title {
    text-align: center;
}

.testimonials__title h6 {
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
}

#testimonials__title__header {
    font-weight: 600;
}

.testimonials__title__header__light {
    color: black;
}

.testimonials__title__header__dark {
    color: white;
}

.testimonials__wrapper {
    width: 60%;
    margin: 50px auto;
}

.testimonials__slide {
    text-align: center;
}

.testimonials__text p:nth-of-type(1) {
    font-size: 60px;
    color: #ff6600;
    font-family: initial;
    font-style: italic;
    margin: 0;
    height: 50px;
}

/* .testimonials__text span:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
} */

#testimonials__text__header1, #testimonials__text__header2, #testimonials__text__header3 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}

.testimonials__text__header__light {
    color: black;
}

.testimonials__text__header__dark {
    color: white;
}

/* .testimonials__text p:nth-of-type(2) {
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
} */

#testimonials__text__comment1, #testimonials__text__comment2, #testimonials__text__comment3 {
    font-size: 18px;
}

.testimonials__text__comment__light {
    color: rgba(22, 28, 45, 0.7);
}

.testimonials__text__comment__dark {
    color: white;
}

#testimonials__text__user1, #testimonials__text__user2, #testimonials__text__user3 {
    font-weight: 600;
}

.testimonials__text__user__light {
    color: black;
}

.testimonials__text__user__dark {
    color: white;
}

/* .testimonials__text span:nth-of-type(2) {
    color: #232121;
    font-size: 0px;
    font-weight: 500;
} */

/* .testimonials__text p:nth-of-type(3) {
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
} */

.testimonials__text__role__light {
    color: rgba(22, 28, 45, 0.7);
}

.testimonials__text__role__dark {
    color: white;
}

.testimonials__thumbs img {
    width: 95px;
    height: 95px;
    border-radius: 100%;
    padding: 4px;
    /* background-color: pink; */
    margin: 0 auto;
}

.slick-dots li.slick-active button:before {
    font-size: 0.7rem;
    color: #ff6600;
}

.slick-dots li button:before {
    color: #c2d0da;
    font-size: 0.7rem;
}

/* END TESTIMONIALS CSS  */

/* FOOTER CSS */
footer {
    background-color: #000;
    padding: 50px 0;
}

.contact__item ul {
    list-style: none;
}

.contact__item ul li p,
.contact__item ul li a {
    color: #a5a2a1;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s;
}

.contact__item ul li:hover a {
    color: #ff6600;
}

.contact__item ul li {
    margin: 10px 0;
}

.contact__item ul li h4,
.contact__item ul li h4 a {
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}

.contact__item ul li h4 a {
    font-size: 35px;
}

.contact__icon i {
    font-size: 1rem;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
    /* background-color: white; */
    color: #ff6600;
    transition: all 0.5s;
    cursor: pointer;
}

.contact__icon__item__light {
    background-color: white;
}

.contact__icon__item__dark {
    background-color: #232220;
}

.contact__icon i:hover {
    color: white;
    background-color: #ff6600;
}

.form-group {
    padding: 0;
}

.contact .form-control {
    padding: 30px 50px 30px 20px;
    max-width: 95%;
    margin: 0 auto;
}

.email__input__light {
    background-color: white !important;
}

.email__input__dark {
    background-color: #232220 !important;
}

.submit-btn {
    padding: 20px 0;
    background-color: #ff6600;
    border: none;
    transition: all 0.5s;
    max-width: 95%;
    margin: 0 auto;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

.submit-btn:hover {
    opacity: 0.8;
}

.contact__copies p {
    color: #ddd;
}

.contact__copies p a {
    color: #ff6600;
    transition: all 0.5s;
    text-decoration: none;
}

.contact__copies p a:hover {
    color: white;
    background-color: transparent;
}

.contact__copies-item a {
    margin: 0 10px;
    text-decoration: none;
    color: #a5a2a1;
}

.contact__copies-item a:hover {
    color: #ff6600;
    background-color: transparent;
}

.backtotop {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff6600;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

footer a:hover {
    text-decoration: none;
    color: #ff6600;
}

footer .backtotop:hover {
    color: #ff6600;
    background-color: white;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}

/* END FOOTER CSS */

/* FIXED NAVBAR */
#fixed__navbar {
    position: fixed;
    top: 3rem;
    right: 0;
}

.fixed__navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    background-color: #0d1326;
    padding: 0 5px;
}

.fixed__navbar__item a {
    text-decoration: none;
    color: gray;
}

.fixed__navbar__item i {
    font-size: 1rem;
    padding: 1rem 2rem 0.5rem 2rem;
}

.fixed__navbar__item.item1 i {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px gray;
}

.fixed__navbar__item.item4 {
    margin-bottom: 3rem;
}

.fixed__navbar__item:hover a {
    color: white;
}

/* MEDIA  */
@media screen and (min-width: 1200px) {
    #video {
        padding: 300px 0 100px 0;
    }
}

@media screen and (max-width:1199px) {
    .blog__time {
        position: absolute;
        left: 15px;
        top: 130px;
    }
    
    #video {
        padding: 300px 0 100px 0;
    }
}

@media screen and (max-width:991px) {
    .navbar__content h1 {
        font-size: 50px;
        margin-top: 70px;
    }

    .navbar__content {
        margin-top: 2rem;
        margin-right: 3rem;
    }

    .form-inline {
        width: 250px;
    }

    .restaurant__img {
        height: 500px;
    }

    .booking__left {
        min-height: 525.58px;
    }

    .categories__text {
        padding: 8px 28px;
    }

    .categories__text a {
        font-size: 20px;
    }

    .categories__item {
        height: 400px;
    }

    .categories__inner {
        padding: 0 0 1rem 1rem;
        position: relative;
    }

    .jumping__content {
        height: 400px;
    }

    .jumping__title button {
        padding: 10px 40px;
        border-radius: 8px;
        margin: 25px 15px;
        font-size: 17px;
    }

    #video {
        padding: 300px 0 100px 0;
    }

    .video__content {
        height: 500px;
    }
   

    .testimonials__wrapper {
        width: 70%;
        margin: 50px auto;
    }

    .blog__time {
        position: absolute;
        left: 15px;
        top: 150px;
    }
}

@media screen and (max-width:767px) {
    .navbar__content h1 {
        margin-top: 70px;
    }

    .navbar__content {
        margin-top: 1rem;
        margin-right: 2rem;
    }

    .form-inline {
        width: 200px;
    }

    .restaurant__img {
        height: 400px;
    }

    .categories__text {
        padding: 5px 25px;
    }

    .categories__text a {
        font-size: 17px;
    }

    .categories__item {
        height: 350px;
    }

    .categories__inner {
        padding: 0 0 1rem 1rem;
        position: relative;
    }

    .testimonials__wrapper {
        width: 80%;
        margin: 50px auto;
    }

    #video {
        padding: 700px 0 100px 0;
    }

    .video__content {
        height: 400px;
    }

    .blog__time {
        position: absolute;
        left: 15px;
        top: 250px;
    }
}

@media screen and (max-width:575px) {
    .navbar__content h1 {
        font-size: 40px;
        margin-top: 70px;
    }

    .form-inline {
        display: none;
    }

    .restaurant__img {
        height: 300px;
    }

    .categories__text {
        padding: 0px 20px;
    }
    
    .categories__text a {
        font-size: 14px;
    }

    .categories__item {
        height: 300px;
    }

    .categories__inner {
        padding: 0 0 0 1rem;
        position: relative;
    }

    .testimonials__wrapper {
        width: 90%;
        margin: 50px auto;
    }

    #video {
        padding: 700px 0 100px 0;
    }

    #video .modal-content iframe {
        width: 550px;
    }
    
    .video__content {
        height: 350px;
    }

    .blog__time {
        position: absolute;
        left: 15px;
        top: 220px;
    }
}